*.ttf
*.css
*.svg
*.png
*.txt
*.scss

dist
build
public
static
config
scripts
coverage
node_modules
next.config.js
commitlint.config.js
react-app-env.d.ts

.next
.idea
.cache
.husky
.github
.storybook

src/app